@import './colors/colors.css';

/* Config */

* {
  font-family: "CaskaydiaCove Nerd Font Propo";
  font-style: italic;
}

/* Notification */

.notification {
  background: @background;
  color: @fontcolor;
  border: 1px solid @bordercolor;
  border-radius: 25px;
  padding: 10px;
}

.body {
  color: @fontcolor;
}

.summary {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: @accent-two;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: @fontcolor;
  text-shadow: none;
  margin-right: 18px;
}

.close-button {
  background-color: @accent-error;
  color: @fontaltcolor;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 6px;
}

.notification-default-action:hover,
.notification-action:hover {
  color: @accent-three;
  background: transparent;
}

.notification.critical progress {
  background-color: @accent-error;
}

.notification.low progress,
.notification.normal progress {
  background-color: @accent-three;
}

/* Control Center */

.control-center {
  background-color: @background;
  color: @fontcolor;
  border: 3px solid @bordercolor;
  padding: 10px;
}

/* Notifications expanded-group */

.notification-group {
  background-color: transparent;
  margin: 2px 8px 2px 8px;
  font-size: 14px;

}

.notification-group-icon {
  color: #FFFFFF;
}

.notification-group-headers {
  color: @fontcolor;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: @accent-two;
  color: @fontaltcolor;
  margin: 4px;
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @accent-error;
  color: @fontaltcolor;
}


/* widget title */
.widget-title {
  color: @fontcolor;
}

.widget-title>button {
  font-size: 1rem;
  color: @fontcolor;
  background: @background-alt-darker;
  box-shadow: none;
}

.widget-title>button:hover {
  background: @accent-error;
  color: @fontaltcolor;
}

/* widget button grid */
button {
  border: 0px;
  min-width: 35px;
  background: @background-alt;
}

.widget-buttons-grid {
  font-size: x-large;
  background: @background-alt-darker;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  color: @fontcolor;
  margin: 8px;
  padding: 10px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: alpha(@fontcolor, 0.55);
}

.widget-buttons-grid>flowbox>flowboxchild>button.toggle:checked {
  background: @accent-three;
}

.widget-buttons-grid>flowbox>flowboxchild>button.toggle:checked label {
  color: @fontaltcolor;
}




/* dnd widget */
.widget-dnd {
  background: transparent;
  border: 1px solid transparent;
  font-size: large;
  color: @fontcolor;
}

.widget-dnd>label {
  color: @fontcolor;
}

.widget-dnd>switch {
  background: @background-alt;
  color: @fontcolor;
  border-radius: 6px;
}

.widget-dnd>switch:checked {
  background: @accent-error;
  border: 1px solid @accent-error;
}


/* volume & backlight widget */

.widget-volume {
  background: @background-alt-darker;
  color: @fontcolor;
  font-size: x-large;
}


.widget-backlight {
  background: @background-alt-darker;
  color: @fontcolor;
  font-size: x-large;
}

/* music player widget */
.widget-mpris {
  background: transparent;
  margin: 0;
  padding: 0;
}

.widget-mpris button {
  background-color: transparent;
  border-radius: 6px;
}

.widget-mpris button:hover {
  background-color: transparent;
  color: @fontaltcolor;
}


trough slider {
  background: @fontcolor;
}

trough slider:hover {
  background: @accent-two;
}


trough highlight {
  background: @accent-three;
}

scrollbar,
scrollbar slider,
scrollbar trough {
  background: transparent;
  min-width: 0px;
  min-height: 0px;
}

scrollbar {
  scrollbar-width: none;
}

scrollbar:hover {
  background: transparent;
  min-width: 0px;
  min-height: 0px;
}
