* {
    border: none;
    border-radius: 0;
    font-size: 13px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: #2b303b;
    color: #ffffff;
}

#clock,
#battery,
#network,
#tray {
    padding: 0 10px;
    margin: 0;
    color: #ffffff;
    background: transparent;
}
