configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    terminal: "kitty";
    drun-display-format: "{name}";
    hover-select: false;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

@theme "themes/minimal-dark"
