* {
    background:                  #1c1c1c;
    background-alt:              #2a2a2a;
    foreground:                  #e6e6e6;
    selected:                    #c3cadd;
    active:                      #c4d6c4;
    urgent:                      #d8b4b4;
}
